.parent-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: var(--tamMaxContainer);
    padding: var(--tamPadding);
}

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--tamGap);
    margin: var(--tamMargin) 0;
}

.texto-centralizado {
    text-align: center;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}